body {
  font-family: 'Almarai', sans-serif;
  color: rgb(27, 27, 27);
  /* background-color: #e7e4cf; */
  background-color: #fb7463;
}

canvas {
  font-family: 'Montserrat';
}

.mainContainer {
  background-color: rgb(250, 250, 250);
  width: 98vw;
  margin-left: 1vw;
  padding: 2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2vw;
  border-radius: 1vw;
}

.commonTable {
  padding-top: 2vw;
}

.smallLeftSide {
  width: 20vw;
}

#marcosImg {
  width: 15vw;
  height: 15vw;
  margin-top: 2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainTitle {
  font-size: 3vw;
}

.ptsMainCanvas {
  height: 40vw;
}

.codeBlock {
  background-color: #ffffff;
  color: rgb(24, 24, 24);
  /* background-color: #222222;
  color: rgb(255, 255, 255); */
  padding: 2vw;
  font-family: "Roboto Mono";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1vw;
}

#aboutMe {
  width: 100%;
  /* margin-top: 6.5vw; */
}

.green {
  color: rgb(44, 155, 44);
}

.red {
  color: rgb(201, 110, 82);
}

.lightBlue {
  color: rgb(108, 149, 224);
}

.darkBlue {
  color: rgb(84, 103, 146);
}

a {
  font-weight: bold;
  color: rgb(63, 63, 63);
}

a:hover {
  color: rgb(109, 109, 109);
}

a.white {
  color: #f1f1f1;
}

a.white:hover {
  color: #ffffff;
}

a.red {
  color: rgb(201, 110, 82);
}

a.red:hover {
  color: rgb(204, 97, 65);
}

.caption {
  width: 100%;
  font-size: 1vw;
  font-style: italic;
}

.centerContent {
  text-align: center;
}

.banner {
  text-align: center;
  height: 2vw;
  color: white;
  background-color: rgb(36, 36, 36);
}

.cardTitle {
  font-size: 2vw;
}

.projectSquare {
  width: 90%;
  margin-left: 5%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2vw;
  margin-top: 2vw;
  border-radius: 1vw;
}

.projectSquare:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.19);
}

.visitButton {
  margin-right: 1vw;
  float: right;
}

.circleImage {
  border-radius: 50%;
}

.cardImage {
  height: 30vw;
}

.pdf {
  width: 80%;
  height: 40vw;
  margin-left: 10%;
}

.customNav {
  padding: 1vw;
  padding-left: 2vw;
  color: white;
}

.navText {
  font-size: 1.5vw;
}

.pointerHover {
  cursor: pointer;
}